<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css" />

    <style></style>
  </head>
  <body
    class="bg-[url('/mountain.jpg')] min-h-screen p-5 items-center w-full bg-cover flex flex-col"
  >
    <div class="md:text-9xl text-3xl font-extrabold text-sky-950">
      Travelooo
    </div>
    <div class="md:text-3xl text-xl font-bold text-slate-950">
      Go where your heart takes you!
    </div>
    <button onclick="window.location.href = '/login';" class="btn m-3 text-3xl">
      Get Started
    </button>
  </body>
</html>
