 .btn {
   background-color: rgb(0, 47, 94);
   color: white;
   padding: 3px 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
 }

 .btn:hover {
   background-color: rgb(0, 47, 94, 0.8);
 }